name: Run Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and Test
    runs-on: macos-12
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Force Xcode 13.2.1
        run: sudo xcode-select -switch /Applications/Xcode_13.2.1.app

      - name: Test
        run: swift test
