name: SwiftLint - Linux

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  SwiftLint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: GitHub Action for SwiftLint with --strict
        uses: norio-nomura/action-swiftlint@3.2.1
        with:
          args: --strict --reporter xcode