name: SwiftLint - Linux

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/realm/swiftlint:latest

    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Run SwiftLint and annotate
      run: |
        # Run SwiftLint and fail the job if any violations are found
        swiftlint lint --reporter github-actions-logging || exit 1